<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870504487420-6m43icupi5sseseaomtg93qt9258l47f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870504487420-6m43icupi5sseseaomtg93qt9258l47f</string>
	<key>API_KEY</key>
	<string>AIzaSyC-DpOBIkGICEO3Ct7lc6wIYjL6r7Y54Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>870504487420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wonhyunglee.pokerCat</string>
	<key>PROJECT_ID</key>
	<string>shape-circle</string>
	<key>STORAGE_BUCKET</key>
	<string>shape-circle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870504487420:ios:c38d7260ab9e4c8ce43a79</string>
</dict>
</plist>